* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ece9fc;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  overflow: hidden;
  font-size: 14px;
}

#main {
  background-color: white;
  position: absolute;
  top: 80px;
  bottom: 400px;
  left: 150px;
  right: 300px;
  width: 80%;
  border-radius: 40px;
}

#header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 25px 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

.title {
  font-family: 'Poppins';
  font-size: 14px;
}

.navbar {
  margin-left: auto;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  float: ;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

li::after {
  background-color: #6809c3;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
}

li:active::after {
  background-color: #6809c3;
}

.contactme-container:hover::after {
  width: 0%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.15s;
}

a:hover {
  color: rgb(83, 83, 83);
}

a:active {
  opacity: 0.4;
}

.home {
  color: #6809c3;
  transition: all 0.15s;
}

.home:hover {
  opacity: 0.8;
  color: #04d4e3;
}

.contactme {
  background: rgb(104, 9, 195);
  color: white;
  padding: 7px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.15s;
}

.contactme:hover {
  color: white;
  opacity: 0.9;
}

.contactme:active {
  opacity: 0.4;
}

.color {
  color: rgb(83, 83, 83);
}
